h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 27px 0px 27px 0px;
  font-weight: 700;
  font-size: 40px;
}

footer {
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: #dddddd;
}

.bold {
  font-weight: bold;
}

.red {
  border: 10px solid #e30413;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  border: 10px solid #3ea535;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yellow {
  border: 10px solid #ffee00;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blue {
  border: 10px solid #039fe3;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pink {
  border: 10px solid #f8c5af;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 30px;
  padding: 17px;
  line-height: 35px;
}

h3 {
  font-size: 18px;
  line-height: 21px;
  padding: 17px;
}

.alignement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
